<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>Contacts</title>
    <link th:href="@{/style.css}" rel="stylesheet"/>
</head>
<body>
 
	<div class="container">
        <nav class="menu">
            <ul class="main-menu">
                <a class="colore1" href="home"> Home </a>
                <a class="colore2 with-submenu"> Portfolio
                    <ul class="submenu">
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>PHP</li>
                        <li>JAVA</li>
                    </ul>
                </a>
                <a class="colore3" href="about"> About </a> 
                <a class="colore4 active" href="contacts"> Contacts </a>
            </ul>
        </nav>
        
       <article>
            <div class="content">
           		<h2> Messaggio inviato correttamente </h2>
           		<p class="contatti"> Name: </p> <p th:text="${dati.name}" class="contatti"> </p>
           		<p class="contatti"> Surname: </p> <p th:text="${dati.surname}" class="contatti"> </p>
           		<p class="contatti"> Email: </p> <p th:text="${dati.email}" class="contatti"> </p>
           		<p class="contatti"> Message: </p> <p th:text="${dati.message}" class="contatti"> </p>
           </div>
      </article>
    </div>    
    
    
    <footer> Copyright © 2022 | Sara Esposito | Tutti i diritti sono riservati </footer>
    
</body>
</html>